html,body {
    height: 100%;
    overflow-x: hidden;
}

.wrapper {
    min-height: 100%;
    padding-top: 90px;
    margin-bottom: -100px;
    background-color: #a0d6b4;
}

footer, .push{
    height: 100px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

img.mylogo {
    width: 50px;
}