.navbar-nav {
  margin: 0;
  padding: 0 15px;
}
/*.btn-circle-sm {
  width: 35px;
  height: 35px;
  text-align: center;
  padding: 2px 0;
  font-size: 20px;
  line-height: 1.65;
  border-radius: 30px;
}*/

.custom-header{
  background:#317873;
  padding:20px 20px;
  box-sizing:border-box;
  border:0;
  border-radius:0;
}

.custom-header a.navbar-brand.navbar-link{
  color:#FFA500;
  font:normal 30px Cookie, Arial, Helvetica, sans-serif;
  line-height:0.5;
  background:#317873;
}

.custom-header ul.nav.navbar-nav.links li a{
  color:#fff;
  background:#317873;
}

.custom-header ul.nav.navbar-nav li a:hover{
  opacity:1;
  background-color:#5f9ea0;
}

.custom-header li.dropdown .dropdown-toggle{
  border-radius:2px;
  color:#fff;
  padding:8px 14px;
  background:#317873;
  opacity:0.9;
  border:0;
  margin:0;
}

.custom-header li.dropdown .dropdown-toggle:focus, .custom-header li.dropdown .dropdown-toggle:hover, .custom-header li.dropdown .dropdown-toggle:active{
  background-color:#5f9ea0;
  color:#fff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color:#5f9ea0;
  color:#fff;
}

img.dropdown-image{
  border-radius:50%;
  width:30px;
  margin-left:10px;
}

.custom-header .dropdown ul{
  background-color:#317873;
  text-align:center;
  color: #49796b;
}

.custom-header .dropdown ul li a{
  border-radius:2px;
  color:#fff;
  padding:0;
}

.custom-header .dropdown ul li.active a{
  color:#e9ac09 !important;
}

a.btn.main-btn {
  width: 30px;
  height: 30px;
  padding: 5px !important;
  border-radius: 15px;
  margin: 5px;
  background-color: #e9ac09;
}

div.form-group.has-feedback.search-bar{
  margin: 5px;
}
/*Animations*/

.brand {
  animation: fadeInLeft 2s;
}
