<div id="login" class="login-card">
    <!--<img class="img-thumbnail img-responsive profile-img-card">-->
    <p class="profile-name-card">Login</p>
    <form class="form-signin">
        <span class="reauth-email"> </span>
        <input class="form-control" type="email" required="" placeholder="Email address" autofocus="" id="inputEmail">
        <input class="form-control" type="password" required="" placeholder="Password" id="inputPassword">
        <button class="btn btn-primary btn-block btn-lg btn-signin" type="submit">Sign in</button>
    </form>
    <a href="#" class="forgot-password">Forgot your password?</a>
</div>